<div class="container mt-3">
  <h1>Stupid Coaching</h1>
  <br>
  <div class="border-start border-4 p-2">
    <p><%= @question %></p>
    <p class="fst-italic">- You</p>
  </div>
  <br>
  <div class="border-start border-4 p-2 bg-warning">
    <p class="fw-bold"><%= @answer %></p>
    <p class="fst-italic">- Your coach</p>
  </div>
  <br>
  <%= link_to "Ask a new question", "ask" %>
</div>
