<div class="container">
  <h1 class="mt-3">Stupid Coaching</h1>
  <p>ask your coach anything</p>
  <form action="/answer" method="get" class="mt-3 d-flex align-items-center justify-content-around">
  <input class="flex-grow-1 form-control" type="text" name="question" placeholder="Type your question">
  <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>